altair
annotated-types
anyio
asttokens
attrs
backcall
black
blinker
cachetools
certif
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
dnspython
email-validator
executing
fastapi
filelock
fonttools
fsspec
gitdb
GitPython
h11
httpcore
httptools
httpx
huggingface-hub
idna
imbalanced-learn
imblearn
importlib-metadata
iniconfig
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mpmath
mypy-extensions
nest-asyncio
networkx
numpy
orjson
packaging
pandas
parso
pathspec
pickleshare
Pillow
platformdirs
pluggy
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pydeck
Pygments
Pympler
pyparsing
pytest
python-dateutil
python-dotenv
python-multipart
pytz
pytz-deprecation-shim
pywin32
PyYAML
pyzmq
referencing
regex
requests
rich
rpds-py
scikit-learn
scipy
seaborn
six
smmap
sniffio
stack-data
starlette
streamlit-option-menu
stqdm
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
toolz
torch
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
tzlocal
ujson
urllib3
uvicorn
validators
watchdog
watchfiles
wcwidth
websockets
zipp